<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />

</head>
<body>


    <section>
        <!--for demo wrap-->
        <h1>welcome to Bitcoin App </h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>last modified date </th>
                <th>Currency </th>
                <th>Currency Description</th>
                <th>Value</th>
                


              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            
           
              
             
            
            
             
           
              
            
              <tr>
                <td> {{time}}  </td>
                <td>{{usd}}</td>
                <td>{{usd_des}}</td>
                <td>{{usd_val}}</td>
              
              


              </tr>
            </tbody>
          </table>
        </div>
      </section>
      
      
   
      

</body>
</html>